lampbox.pro.user
MediaBoxManager.pro.user*
MediaBoxPlayer.pro.user*
MediaBoxVPlayer.pro.user*
*.exe
*.stackdump
*.2-pre1
build-lampbox*
build-MediaBoxManager*
build-MediaBoxPlayer*
build-MediaBoxVPlayer*
Installer/bin/
/agent_build/build/
/agent_build/install/
/agent_build/deploy/
/agent_build/logs/
/agent_build/*.log
/agent_build/runtime/
/build/
/MediaBoxPlayer/build/
/MediaBoxVPlayer/build/
/CMakeUserPresets.json
/.qtcreator/
/CMakeLists.txt.user
src/lampbox.pro.user.3.3-pre1
src/lampbox.pro.user.cac5ded.4.8-pre1
